{% extends "base.html" %}
{% block title %}TalkieEnTop{% endblock %}
{% block content %}
<h1 style="text-align: center; margin-top: 30px; color: rgb(118, 197, 29);">"  <strong>Talk</strong> and <strong>T</strong>op"</h1>
<p style="margin-left: 3%; color:azure; text-align: center; margin-top: 20px;">Your <strong>best comment</strong> at the top, for you and your friends <i>talk</i> about it!</p>
<p style="margin-left: 3%; color:azure; text-align: center; margin-top: 20px;">So, <strong>sign up</strong> now and start your influency to good! <strong>sharing</strong> your <i>knowledge</i>, and your <i>personality.</i></p>

<div style="width: 100vw;">
    <img id="img1" src="../static/img/img1.png" alt="Personagem 1" style="margin-right: 16vw; margin-left: 8vw; width:30vw; margin-top: 30px; margin-bottom: 30px; border-radius: 80px;" method="GET">
    <img id="img2" src="../static/img/img2.png" alt="Personagem 2" method="GET" style="width: 30vw; margin-top: 30px; margin-bottom: 30px; border-radius: 80px;">
</div>

<footer style="width: 100vw; padding: 20px; margin-top: 30px; background-color:rgb(2, 17, 9);">
    <p style="color: seagreen; text-align: center;"><i>Copyright (c) 2022 TalkieEnTop All Rights Reserved.</i></p>
</footer>

{% endblock %}